Source: couchdb-lounge
Section: unknown
Priority: extra
Maintainer: Shaun <srlindsay@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0
Homepage: <insert the upstream URL, if relevant>

Package: couchdb-lounge
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}, pcre3-dev, python-cjson
Depends: libpcre3-dev, python-cjson, python-twisted, python-simplejson, python-pyicu
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
